<% layout("boilerplate") %>
<% block("stylesheets").append('<link rel="stylesheet" href="/song/styles/display-song.css">') %>

<!-- TODO use grid for display song -->
<main id="display-song">
    <div id="song">
        <svg id="song-play" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M29 0C12.9853 0 0 12.9853 0 29C0 45.0147 12.9853 58 29 58C45.0147 58 58 45.0147 58 29C58 12.9853 45.0147 0 29 0ZM38.3279 29.4467L24.1904 39.7326C24.1129 39.7883 24.0215 39.8215 23.9264 39.8287C23.8312 39.8358 23.7359 39.8166 23.6509 39.7731C23.566 39.7296 23.4946 39.6636 23.4448 39.5822C23.3949 39.5008 23.3685 39.4073 23.3683 39.3118V18.7529C23.368 18.6573 23.3942 18.5634 23.4439 18.4817C23.4937 18.4001 23.5651 18.3338 23.6502 18.2902C23.7353 18.2466 23.8309 18.2275 23.9262 18.2349C24.0216 18.2423 24.113 18.276 24.1904 18.3321L38.3279 28.6116C38.3947 28.6588 38.4492 28.7214 38.4868 28.7941C38.5244 28.8667 38.544 28.9473 38.544 29.0291C38.544 29.1109 38.5244 29.1915 38.4868 29.2642C38.4492 29.3368 38.3947 29.3994 38.3279 29.4467Z"
                fill="white" fill-opacity="0.7" />
        </svg>
        <img id="song-image"
            src="http://e-cdn-images.dzcdn.net/images/cover/f3356177b07ab60d301449bb0378b305/500x500-000000-80-0-0.jpg"
            alt="">
    </div>

    <section id="song-info">
        <h2 id="song-artist">LADY GAGA</h2>
        <h2 id="song-album">CHROMATICA</h2>
        <h2 id="song-title">911</h2>
    </section>

    <section id="song-links">
        <div class="song-link">

        </div>
    </section>
</main>

<% block("scripts").append('') %>
