#display-browse-songs {
	display: grid;
	height: max-content;
	grid-auto-rows: max-content;
	justify-content: center;
	width: 100%;
	grid-template-columns: 95%;
	font: 700 1em "Mohave";
}

.song-card {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-areas:
		"title title"
		"info  price";
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	height: 100vw;
	max-height: 78px;
	padding: 0 0.5em 0 1.3em;
	position: relative;
	border-radius: 0.35em;
	/* TODO make new var for relative border rad using 0.35em */
}

.song-card::before {
	background-size: cover;
	background: url("../../common/images/lg1.jpg");
	border-radius: 5px;
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	content: "";
	height: 4.65em;
	width: 4.65em;
	position: absolute;
	left: 1em;
	top: -2.7em;
	/* PROG adjusting song image and title pos */
}

.song-card-artist {
	grid-area: title;
	text-align: center;
}

.song-card-info {
	grid-area: info;
	font: 100 1em "Quicksand";
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.song-card-price {
	grid-area: price;
	text-align: right;
}

.song-card-artist,
.song-card-price {
	font-size: 1.9em;
}
