/* CMT To change the size of any circle decorations, just change its font-size property and use em */
svg[class^="circle-decoration"] {
	width: 1.25em;
	height: 1.25em;
	position: absolute;
}

.circle-decoration-purple circle:first-of-type {
	fill: var(--Bright-Purple);
}

.circle-decoration-red circle:first-of-type {
	fill: var(--Bright-Red);
}

.circle-decoration-hollow circle:last-of-type {
	fill: white;
}

svg[class^="circle-decoration"] path {
	stroke: black;
	stroke-linecap: round;
}
