:root {
    --Pale-Black: #212121;
    --Bright-Red: #FF0000;
    --Bright-Purple: #A129FF;
    /* Add this variabel on the background property */
    --Gradient-Purple-Red: radial-gradient(119.32% 933.69% at 100% 4.05%, #FF0000 0%, #CA1791 45.85%, #A129FF 99.23%);
    --Dark-Gray: #585858;
    --Medium-Gray: #555454;
}