#display-top-hits {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: max-content;
	margin: 1em 0;
}

/* #region top hits title */

#display-top-hits-title {
	align-items: center;
	background: var(--Gradient-Purple-Red);
	border-radius: var(--Rounded-Border-Radius);
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	display: flex;
	justify-content: center;
	padding: 5% 7%;
	margin-bottom: 1em;
}

#display-top-hits-title h2 {
	color: white;
	font: 700 2em "Quicksand";
}

/* #endregion top hits title */

/* #region top hits grid */

.display-top-hits-grid-item {
	background: url("../Images/placeholder.png");
	background-size: cover;
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	/* border: 10px solid red; */
}

#display-top-hits-grid {
	width: 80%;
	overflow: auto;
	height: 300px;
}

#display-top-hits-grid-wrapper {
	display: grid;
	gap: 10px;
	grid-auto-flow: row dense;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: max-content;
	min-height: 500px;
	width: 100%;
}

/* #endregion top hits grid */
