/* #region DISPLAY BROWSE CONTAINER */

#display-browse {
	width: 100%;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	margin-top: 5em;
}

/* #endregion DISPLAY BROWSE CONTAINER */

/* #region DISPLAY BROWSE TITLE */

#display-browse-title {
}

/* #endregion DISPLAY BROWSE TITLE */
