#display-top-hits {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: max-content;
	margin: 1em 0;
}

/* #region TOP HITS TITLE */

#display-top-hits-title {
	align-items: center;
	background: var(--Gradient-Purple-Red);
	border-radius: var(--Rounded-Border-Radius);
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	display: flex;
	justify-content: center;
	padding: 5% 7%;
	margin-bottom: 1em;
}

#display-top-hits-title h2 {
	color: white;
	font: 700 2em "Quicksand";
}

/* #endregion TOP HITS TITLE */

/* #region TOP HITS GRID */

#display-top-hits-grid {
	column-gap: 0.75em;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: 20%;
	grid-template-columns: 1fr 1fr 1fr;
	height: 300px;
	overflow: scroll;
	padding: 0.2em;
	row-gap: 1em;
	width: 80%;
}

#display-top-hits-grid::-webkit-scrollbar {
	display: none;
}

.top-hits-item {
	background: url("../Images/placeholder.png") center;
	background-size: cover;
	box-shadow: var(--Shadow-Floating-Box-Bottom);
}

.top-hits-item.top-hits-item-SM {
	grid-area: span 1 / span 1;
}

.top-hits-item.top-hits-item-MD {
	grid-area: span 1 / span 2;
}

.top-hits-item.top-hits-item-LG {
	grid-area: span 3 / span 3;
}

/* #endregion TOP HITS GRID */
