#display-top-hits {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: max-content;
	margin: 1em 0;
}

/* #region top hits title */

#display-top-hits-title {
	align-items: center;
	background: var(--Gradient-Purple-Red);
	border-radius: var(--Rounded-Border-Radius);
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	display: flex;
	justify-content: center;
	padding: 5% 7%;
	margin-bottom: 1em;
}

#display-top-hits-title h2 {
	color: white;
	font: 700 2em "Quicksand";
}

/* #endregion top hits title */

/* #region top hits grid */

#display-top-hits-grid {
	column-gap: 0.75em;
	display: grid;
	grid-auto-flow: row dense;
	grid-auto-rows: 30%;
	grid-template-columns: 1fr 1fr 1fr;
	max-height: 300px;
	min-height: 300px;
	overflow: scroll;
	padding: 0.2em;
	row-gap: 1em;
	width: 80%;
}

#display-top-hits-grid::-webkit-scrollbar {
	display: none;
}

.display-top-hits-grid-item {
	background: url("../Images/placeholder.png");
	background-size: cover;
	box-shadow: var(--Shadow-Floating-Box-Bottom);
	/* border: 10px solid red; */
}

/* #endregion top hits grid */
