#page-logo {
    font-size: 1rem;
    margin: 1em auto;
    position: relative;
    width: 50%;
}

h1 {
    color: #000000;
    font: 400 1.75em 'Mohave', sans-serif;
    letter-spacing: 0.46em;
    padding-left: 0.5em;
    text-align: center;
}

h1 span {
    color: var(--Bright-Red);
}

#page-logo svg, #page-logo svg * {
    position: absolute;
}

#page-logo svg:first-of-type {
    left: 0.25em;
    bottom: -0.25em;
}

#page-logo svg:last-of-type {
    right: 0.6em;
    top: -0.4em;
}