/* #region NAVBAR MAIN */

#navbar-main {
	background: var(--Pale-Black);
	bottom: 0;
	height: 10vh;
	position: fixed;
	max-height: 64px;
	width: 100%;
	z-index: 10;
}

.navbar-main-shadow {
	box-shadow: var(--Shadow-Floating-Box-Bottom);
}

@media screen and (min-width: 90em) {
	#navbar-main {
		font-size: 1.5em;
		max-height: 96px;
	}
}

/* #endregion NAVBAR MAIN */

/* #region NAVBAR MAIN CONTENT */

#navbar-main-content {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background: var(--Pale-Black);
}

/* #region NAVBAR MAIN CONTENT ICONS */

#icon-cart {
	height: 55%;
	flex: 1;
}

#icon-hamburger {
	align-items: center;
	display: flex;
	justify-content: center;
}

#navbar-main-content [id^="icon"]:not(#icon-cart) {
	height: 50%;
	flex: 1;
}

#navbar-main-content [id^="icon"] path,
#icon-hamburger svg {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#navbar-main-content [id^="icon"] path:hover,
#icon-hamburger svg:hover path {
	fill: var(--Bright-Purple);
}

#navbar-main-content [id^="icon"] path:active,
#icon-hamburger svg:active path {
	fill: var(--Bright-Purple-Active);
}

/* #endregion NAVBAR MAIN CONTENT ICONS */

/* #region NAVBAR MAIN CONTENT TEXT */

#navbar-main-content-text-container p {
	color: white;
	font: 700 1.75em "Mohave";
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#navbar-main-content-text-container p:hover {
	color: var(--Bright-Red);
}

#navbar-main-content-text-container p:active {
	color: var(--Bright-Red-Active);
}

/* #endregion NAVBAR MAIN CONTENT TEXT */

/* #endregion NAVBAR MAIN CONTENT */

/* #region NAVBAR MAIN DROPDOWN */

#navbar-main-dropdown {
	align-items: center;
	background: var(--Pale-Black);
	border-top-left-radius: var(--Rounded-Border-Radius);
	border-top-right-radius: var(--Rounded-Border-Radius);
	box-shadow: var(--Shadow-Floating-Box-Top);
	color: white;
	display: flex;
	flex-direction: column;
	font: 700 1.5em "Quicksand", sans-serif;
	height: 180%;
	justify-content: space-evenly;
	position: absolute;
	top: 180%;
	width: 100%;
	transition: top 0.4s ease-in;
	z-index: -3;
}

.navbar-main-dropdown-show {
	top: -178% !important;
}

#navbar-main-dropdown p {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#navbar-main-dropdown p:hover {
	color: var(--Bright-Red);
}

#navbar-main-dropdown p:active {
	color: var(--Bright-Red-Active);
}

/* #endregion NAVBAR MAIN DROPDOWN */

@media screen and (min-width: 48em) {
	#navbar-main {
		position: sticky;
		top: 0;
	}
	#navbar-main-content-text-container {
		flex: 5;
		align-items: center;
		display: flex;
		justify-content: space-evenly;
	}
	#navbar-main-dropdown {
		display: none;
	}
}
