<% layout("boilerplate") %>
<% block("stylesheets").append('<link rel="stylesheet" href="/auth/styles/form.css">') %>

<main id="form-auth">
    <h2>Register</h2>
    <form action="/auth/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <footer>
            <a href="/">Cancel</a>
            <button type="submit">Submit</button>
        </footer>
    </form>
</main>

<% block("scripts").append('') %>

<!-- TODO make snippet for ejs forof, layout, and blocks -->
